@import "tailwindcss";

@theme {
  --color-bg: #282c33;
  --color-primary: #c778dd;
  --color-gray: #abb2bf;
}

* {
  font-family: "Fira Code", monospace;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 9999px;
}

@layer utilities {
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  .animate-shine {
    animation: shine 5s linear infinite;
  }
}
